<%- include('partials/head'); %>
<header>
  <h1>Enquête minor Web Development</h1>
</header>
<main>
  <form method="post" action="/" >
    <section class="section">
      <h2>1. Studentgegevens</h2>
      <fieldset class="question" data-error="Vul een naam en studentnummer in.">
        <legend>Vul je gegevens in</legend>
        <label for="name">Naam: </label><input id="name" name="name" type="text" required placeholder="Naam" />
        </label>
        <label for="student_number">Studentnummer
        <input
          id="student_number"
          name="student_number"
          type="number"
          required
          placeholder="Studentnummer"
        />
      </label>
      </fieldset>
    </section>

    <section class="section">
    <h2>2. Web App From Scratch</h2>
    <fieldset class="question" data-error="Maak een keuze">
      <legend>
        In welke weken heb je het vak Web App From Scratch gevolgd?
      </legend>

      <div>
        <input
          type="radio"
          value="Week 1 tot en met 4"
          required=""
          aria-required="true"
          name="wafs_period"
          id="wafs_period_1"
        />
        <label for="wafs_period_1">Week 1 tot en met 4</label>
      </div>
      <div>
        <input
          type="radio"
          value="Week 5 tot en met 8"
          name="wafs_period"
          id="wafs_period_2"
        />
        <label for="wafs_period_2">Week 5 tot en met 8</label>
      </div>
      <div>
        <input
          type="radio"
          value="Week 5 tot en met 8"
          required
          name="wafs_period"
          id="wafs_period_3"
        />
        <label for="wafs_period_3">Week 9 tot en met 12</label>
      </div>
    </fieldset>

    <fieldset class="question" data-error="Maak een keuze" >
      <legend>
        Van wie heb je les gekregen bij het vak Web App From Scratch?
      </legend>
      <div>
        <input
          type="radio"
          name="wafs_teacher"
          id="wafs_teacher_1"
          value="Joost & Koop"
        />
        <label for="wafs_teacher_1">Joost & Koop</label>
      </div>
      <div>
        <input
          type="radio"
          name="wafs_teacher"
          id="wafs_teacher_2"
          value="Vasilis & Sanne"
        />
        <label for="wafs_teacher_2">Vasilis & Sanne</label>
      </div>
      <div>
        <input
          type="radio"
          name="wafs_teacher"
          id="wafs_teacher_3"
          value="Justus & Declan"
        />
        <label for="wafs_teacher_3">Justus & Declan</label>
      </div>
      <div>
        <input
          type="radio"
          name="wafs_teacher"
          id="wafs_teacher_4"
          value="Weet ik niet meer"
        />
        <label for="wafs_teacher_4">Weet ik niet meer</label>
      </div>
    </fieldset>

    <fieldset class="question" data-error="Maak een keuze">
      <legend>Wat voor cijfer geef je het vak Web App From Scratch?</legend>
      
        <input type="radio" name="wafs_rating" id="wafs-rating-1" value="1" />
        <label for="wafs-rating-1">1</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-2" value="2" />
        <label for="wafs_rating-2">2</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-3" value="3" />
        <label for="wafs_rating-3">3</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-4" value="4" />
        <label for="wafs_rating-4">4</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-5" value="5" />
        <label for="wafs_rating-5">5</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-6" value="6" />
        <label for="wafs_rating-6">6</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-7" 7 value="7" />
        <label for="wafs_rating-7">7</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-8" value="8" />
        <label for="wafs_rating-8">8</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-9" value="9" />
        <label for="wafs_rating-9">9</label>

        <input type="radio" name="wafs_rating" id="wafs_rating-10" value="10" />
        <label for="wafs-rating-10">10</label>
      
    </fieldset>

    <fieldset class="question" data-error="Maak een keuze">
      <legend>Hoe moeilijk vond je Web App From Scratch?</legend>
      <select name="wafs_moeilijkheid" id="wafs_moeilijkheid" required>
        <option value="" selected disabled>Selecteer je mening</option>
        <option value="heel_moeilijk">Heel moeilijk</option>
        <option value="moeilijke">Moeilijk</option>
        <option value="makkelijk">Makkkelijk</option>
        <option value="heel_makkelijk">Heel makkkelijk</option>
      </select>
    </fieldset>
    <fieldset class="question" data-error="Maak een keuze">
      <legend>Hoe duidelijk vond je de uitleg van Web App From Scratch?</legend>
      <select name="wafs_uitleg" id="wafs_uitleg" required>
        <option value="" selected disabled>Selecteer je mening</option>
        <option value="Duidelijk">Duidelijk</option>
        <option value="Soms duidelijk">Soms duidelijk</option>
        <option value="Nooit duidelijk">Nooit duidelijk</option>
      </select>
    </fieldset>

    <fieldset class="question" data-error="Maak een keuze">
      <legend>
        Geef jezelf een cijfer over hoe goed je Web App From Scratch snapt.
      </legend>
      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs-selfrating_1"
        value="1"
      />
      <label for="wafs_rating_1">1</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_2"
        value="2"
      />
      <label for="wafs_rating_2">2</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_3"
        value="3"
      />
      <label for="wafs_rating_3">3</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_4"
        value="4"
      />
      <label for="wafs_rating_4">4</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_5"
        value="5"
      />
      <label for="wafs_rating_5">5</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_6"
        value="6"
      />
      <label for="wafs_rating_6">6</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_7"
        value="7"
      />
      <label for="wafs_rating_7">7</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_8"
        value="8"
      />
      <label for="wafs_rating_8">8</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_9"
        value="9"
      />
      <label for="wafs_rating_9">9</label>

      <input
        type="radio"
        name="wafs_selfrating"
        id="wafs_selfrating_10"
        value="10"
      />
      <label for="wafs_selfrating_10">10</label>
    </fieldset>
    </section>
    <section class="section">
    <h2>3. CSS To The Rescue</h2>
    <fieldset class="question" data-error="Maak een keuze">
      <legend>In welke weken heb je het vak CSS To The Rescue gevolgd?</legend>

      <div>
        <input
          type="radio"
          value="Week 1 tot en met 4"
          required
          name="cttr_period"
          id="cttr_period_1"
        />
        <label for="cttr_period_1">Week 1 tot en met 4</label>
      </div>
      <div>
        <input
          type="radio"
          value="Week 5 tot en met 8"
          required
          name="cttr_period"
          id="cttr_period_2"
        />
        <label for="cttr_period_2">Week 5 tot en met 8</label>
      </div>
      <div>
        <input
          type="radio"
          value="Week 5 tot en met 8"
          required
          name="cttr_period"
          id="cttr_period_3"
        />
        <label for="cttr_period_3">Week 9 tot en met 12</label>
      </div>
    </fieldset>

    <fieldset class="question" data-error="Maak een keuze">
      <legend>
        Van wie heb je les gekregen bij het vak CSS To The Rescue?
      </legend>
      <div>
        <input
          type="radio"
          name="cttr_teacher"
          id="cttr_teacher_1"
          value="Joost & Koop"
        />
        <label for="cttr_teacher_1">Joost & Koop</label>
      </div>
      <div>
        <input
          type="radio"
          name="cttr_teacher"
          id="cttr_teacher_2"
          value="Vasilis & Sanne"
        />
        <label for="cttr_teacher_2">Vasilis & Sanne</label>
      </div>
      <div>
        <input
          type="radio"
          name="cttr_teacher"
          id="cttr_teacher_3"
          value="Justus & Declan"
        />
        <label for="cttr_teacher_3">Justus & Declan</label>
      </div>
      <div>
        <input
          type="radio"
          name="cttr_teacher"
          id="cttr_teacher_4"
          value="Weet ik niet meer"
        />
        <label for="cttr_teacher_4">Weet ik niet meer</label>
      </div>
    </fieldset>

    <fieldset class="question" data-error="Maak een keuze">
      <legend>Wat voor cijfer geef je het vak CSS To The Rescue?</legend>

      <input type="radio" name="cttr_rating" id="cttr-rating-1" value="1" />
      <label for="cttr-rating-1">1</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-2" value="2" />
      <label for="cttr_rating-2">2</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-3" value="3" />
      <label for="cttr_rating-3">3</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-4" value="4" />
      <label for="cttr_rating-4">4</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-5" value="5" />
      <label for="cttr_rating-5">5</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-6" value="6" />
      <label for="cttr_rating-6">6</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-7" 7 value="7" />
      <label for="cttr_rating-7">7</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-8" value="8" />
      <label for="cttr_rating-8">8</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-9" value="9" />
      <label for="cttr_rating-9">9</label>

      <input type="radio" name="cttr_rating" id="cttr_rating-10" value="10" />
      <label for="cttr-rating-10">10</label>
    </fieldset>

    <fieldset class="question" data-error="Maak een keuze">
      <legend>Hoe moeilijk vond je CSS To The Rescue?</legend>
      <select name="cttr_moeilijkheid" id="cttr_moeilijkheid" required>
        <option value="" selected disabled>Selecteer je mening</option>
        <option value="heel_moeilijk">Heel moeilijk</option>
        <option value="moeilijke">Moeilijk</option>
        <option value="makkelijk">Makkkelijk</option>
        <option value="heel_makkelijk">Heel makkkelijk</option>
      </select>
    </fieldset>
    <fieldset class="question" data-error="Maak een keuze">
      <legend>Hoe duidelijk vond je de uitleg van CSS To The Rescue?</legend>
      <select name="cttr_uitleg" id="cttr_uitleg" required>
        <option value="" selected disabled>Selecteer je mening</option>
        <option value="Duidelijk">Duidelijk</option>
        <option value="Soms duidelijk">Soms duidelijk</option>
        <option value="Nooit duidelijk">Nooit duidelijk</option>
      </select>
    </fieldset>

    <fieldset class="question" data-error="Maak een keuze">
      <legend>
        Geef jezelf een cijfer over hoe goed je CSS To The Rescue snapt.
      </legend>
      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr-selfrating_1"
        value="1"
      />
      <label for="cttr_rating_1">1</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_2"
        value="2"
      />
      <label for="cttr_rating_2">2</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_3"
        value="3"
      />
      <label for="cttr_rating_3">3</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_4"
        value="4"
      />
      <label for="cttr_rating_4">4</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_5"
        value="5"
      />
      <label for="cttr_rating_5">5</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_6"
        value="6"
      />
      <label for="cttr_rating_6">6</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_7"
        value="7"
      />
      <label for="cttr_rating_7">7</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_8"
        value="8"
      />
      <label for="cttr_rating_8">8</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_9"
        value="9"
      />
      <label for="cttr_rating_9">9</label>

      <input
        type="radio"
        name="cttr_selfrating"
        id="cttr_selfrating_10"
        value="10"
      />
      <label for="cttr_selfrating_10">10</label>
    </fieldset>
    </section>

    <div class="navigation js-navigation">
      <button class="button btn-submit" type="submit">Verstuur antwoorden</button>
    </div>
  </form>
  <script type="module" src="/js/script.js" ></script>
  <%- include('partials/footer'); %>

